style.
    .wrapper{
        max-width: 600px;
        margin: auto;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 10px;
        table-layout: fixed;
        font-family: Cambria, Georgia, serif;
        color: black;
    }
    @media screen and (max-width: 800px){
        .wrapper{
            width: 100%;
        }
    }
    .body{
        width: 100%;
        border-spacing: 0;
        margin: 0 auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1rem;
    }

    .logo{
        width: 100%;
        height: 8rem;
        text-align: center;
    }

    .container{
        padding: 0 3rem;
    }

    .subjectContainer{
        padding: 0.5rem 0;
        text-align: center
    }

    .subject{
        color: #2E86C1;
        text-align: center
    }

    .w-full{
        width: 100%
    }

    .margin-0{
        margin: 0;
    }

    .text-center{
        text-align: center;
    }

    .resetPasswordButton{
        background-color:#515BF0;
        padding: 0.5rem 1.5rem;
        color: white;
        font-weight: 550;
        border: 0;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 20px;
    }

    .text-decoration-none{
        text-decoration: none;
    }

    .link a{
        text-decoration-color: #3A8EF6;
        color: #3A8EF6;
    }

    .noreply{
        font-style: italic;
        font-weight: bold;
        font-size: 0.85rem;
    }