//- Email template adapted from https://github.com/leemunroe/responsive-html-email-template
//- Converted from HTML using https://html2pug.now.sh/

doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    title= subject

    include _style
  body
    .wrapper
      table.body(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
          tr
            td.container
                // START CENTERED WHITE CONTAINER
                table.w-full(role='presentation')
                  // START MAIN AREA
                  tbody
                    tr
                      td
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                          tbody
                            tr
                              td
                                // CONTENT
                                block content
