extends baseEmail  

block content
  table(role='presentation', border='0', cellpadding='0', cellspacing='0').subjectContainer.w-full
    tbody 
      tr.w-full
        td(align='center')
          p.subject= emailSubject
      tr.w-full 
        td(align='center')
          p(style='font-size: 1.25rem; padding: 0.5rem 0;').margin-0 Mã xác thực của bạn là:
  table(role='presentation', border='0', cellpadding='0', cellspacing='0').w-full
    tbody
      tr.w-full
        td(align='center')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr.w-full
                td.text-center.w-full
                  .text-center.text-decoration-none= otp
  p This code will be expired in #[span(style="font-weight: bold") 10 minutes] and this token can be used #[span(style="font-weight: bold") only once].
  p.link If you are not doing this action right now, please contact us via: cohealth2025@gmail.com
  p.noreply Please do not response this email because this is a auto sender mail!

