.profileIcon {
  width: 4vw;
  border-radius: 10vw;
  position: relative;
  right: 2vw;
}
.profileName {
  width: 7vw;
  position: relative;
  right: 1.5vw;
}
.profileIcon img {
  width: 100%;
}

.afterLogin {
  width: 11vw;
}

.afterLoginButton {
  width: 11vw !important;
}
