@theme {
  --font-Fustat: 'Fustat';
  --font-Roca: 'Roca';
  --font-DM-Sans: 'DM-Sans';
  --font-Urbanist: 'Urbanist';
  --font-Roboto: 'Roboto';
  --font-Inter: 'Inter';
  --font-ABeeZee: 'ABeeZee';
  --font-AbhayaLibre: 'AbhayaLibre';
}
