@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: #f3f3fd;
}

.navicon {
  background: linear-gradient(96deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 45px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.navicon a:hover {
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 5px 5px 10px #3a8ef6;
}

.wrapper {
  width: 45%;
  background: transparent;
  backdrop-filter: blur(20px);
  color: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
  border-radius: 15px;
  padding: 30px 40px;
  box-shadow: 0 0 10px #6f3afa;
  margin: auto;
}

.wrapper h1 {
  font-size: 30px;
  text-align: center;
  background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  color: #eaf0f7;
  margin: 30px 0;
}

.wrapper h6 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.5vh;
  font-weight: lighter;
}

.wrapper h6 .email {
  background: linear-gradient(90deg, #1678F2 49.65%, #6F3AFA 94.01%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.input-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.input-box i {
  color: #667085;
  font-size: 20px;
}

.input-box input {
  width: 70%;
  height: 70%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #667085;
}

.wrapper .email {
  text-decoration: underline;
  cursor:  pointer;
}

.input-box input::placeholder {
  background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form_input_body {
  width: 90%;
  margin: auto;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}