.summaryContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.container {
    width: 185px;
    height: 250px;
    background-color: white;
    z-index: 4;
    text-align: center;
    line-height: 1.5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}

.title {
    font-size: 17px;
    font-family: 'Alice', sans-serif;
    font-weight: bold;
}


#spinner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    background-color: #0043E0;
    text-align: center;
    color: white;
    border: none;
    width: 130px;
    height: 30px;
    font-family: 'Alice', sans-serif;
    border-radius: 5px;
}