@import 'tailwindcss';

@import './font.css';
@import './extendCSS.css';

.nav-items {
  @apply mx-[2vw];
  @apply text-[#404040];
  @apply font-medium;
  @apply font-Fustat;
}

.btn {
  @apply border-0;
  @apply cursor-pointer;
  @apply bg-transparent;
  @apply p-0;
}

.nav_links:hover {
  @apply origin-bottom-left;
  @apply font-extrabold;
}

.a_link {
  @apply no-underline;
}
.nav_links {
  @apply text-lg;
  @apply text-[#384FC0];
  @apply font-medium;
}

.toolItem {
  @apply border-b-2;
  @apply border-[#B0C7EB];
  @apply py-2;
  @apply px-1;
  @apply text-[#384FC0];
  @apply relative;
}

.toolItem:last-child {
  @apply border-0;
}

.active {
  @apply font-extrabold;
  @apply border-b-2;
  @apply border-[#B0C7EB];
}

.chatItemActive {
  @apply bg-[#6E67F4]/80;
  @apply text-white;
}

.sender {
  @apply border-2;
  @apply p-4;
  @apply w-fit;
  @apply max-w-xl;
  @apply mb-4;
  @apply break-words;
  @apply text-balance;
  @apply rounded-[40px];
  @apply ml-4;
}

.user {
  @apply text-right;
  @apply border-2;
  @apply p-4;
  @apply mb-4;
  @apply max-w-xl;
  @apply ml-auto;
  @apply mr-4;
  @apply w-fit;
  @apply break-words;
  @apply text-balance;
  @apply rounded-[40px];
  @apply bg-[#6E67F4]/80;
  @apply text-white;
}

.online {
  @apply h-4;
  @apply w-4;
  @apply bg-green-600;
  @apply rounded-full;
}

.offline {
  @apply h-4;
  @apply w-4;
  @apply bg-neutral-600;
  @apply rounded-full;
}

.unshown {
  @apply opacity-0;
  @apply duration-200;
  @apply pointer-events-none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '' !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: white;
}

.featuresItem_title {
  @apply text-[#384FC0];
  @apply font-bold;
  @apply font-Fustat;
  @apply text-3xl;
  @apply mb-4;
}

.featuresItem_content {
  @apply text-lg;
  @apply text-[#6F7CB2];
  @apply font-Roboto;
}

.truncate-3 {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

label {
  @apply font-DM-Sans;
  @apply tracking-wider;
}

.input-box > input {
  @apply font-DM-Sans;
}

.inputCheck:invalid,
.invalidInput {
  @apply border-b-2;
  @apply border-red-600;
}

.inputCheck:valid,
.validInput {
  @apply border-b-2;
  @apply border-green-600;
}

.linearText {
  @apply bg-clip-text;
  @apply bg-gradient-to-r;
  @apply text-transparent;
  @apply from-[#3a8ef6];
  @apply to-[#6f3afa];
}

.linearBackground {
  @apply bg-gradient-to-r;
  @apply from-[#3a8ef6];
  @apply to-[#6f3afa];
}

.swiper-pagination-1 {
  bottom: 0.3rem !important;
}

.swiper-1 {
  padding: 3.5rem 3.5rem 3.5rem 3.5rem !important;
}

.newsItem:hover {
  @apply -translate-y-1!;
  @apply border;
  @apply border-black;
  @apply transition;
  @apply duration-100;
}

.swiper-pagination-bullet-news {
  text-align: center;
  line-height: 20px;
  color: #3a8ef6;
  opacity: 1;
  font-family: Inter;
  background: none;
  @apply w-7!;
  @apply h-7!;
  @apply text-2xl!;
  @apply mx-3!;
  @apply rounded-lg!;
}

.swiper-pagination-bullet-active-news {
  @apply opacity-100!;
}

.swiper-pagination-bullet-active-news-main,
.swiper-pagination-bullet-active-news {
  @apply scale-100!;
}

.swiper-pagination-bullet-active-news-main {
  background: none;
}

.form_row > input {
  @apply py-2;
  @apply px-3;
  @apply bg-[#EAF0F7];
  @apply rounded-xl;
  @apply font-AbhayaLibre;
}

button:disabled {
  opacity: 50%;
}

:root {
  --bmiPercentage: 0;
  --weekAfterToAchieveTargetPercentage: 0;
  --tdeePercentage: 0;
}

/* LOADER */
.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

/* TIPTAP NEWS EDITOR */
.tiptap p,
.tiptap h1,
.tiptap h2,
.tiptap h3 {
  @apply indent-12;
}
.tiptap ol {
  @apply list-decimal;
  @apply list-inside;
  @apply ml-12;
}
.tiptap ul {
  @apply list-disc;
  @apply list-inside;
  @apply ml-12;
}
.tiptap li::marker {
  display: inline;
}
.tiptap li p {
  display: inline;
}

.tiptap h1 {
  @apply text-3xl;
  @apply font-bold;
}
.tiptap h2 {
  @apply text-2xl;
  @apply font-bold;
}
.tiptap h3 {
  @apply text-xl;
  @apply font-bold;
}
.tiptap blockquote {
  @apply p-0;
  @apply m-0;
  @apply mx-12;
  @apply border-l-[3px];
  @apply border-gray-300;
  @apply pl-6;
  @apply mb-4;
}
.tiptap a {
  @apply underline;
  @apply text-blue-500;
}

.tiptap img {
  @apply w-3/4;
  @apply mx-auto;
}

.editorToolbar .inactiveButton {
  @apply opacity-50;
  @apply cursor-default!;
  @apply pointer-events-none;
}

.editorToolbar div {
  @apply p-2;
}
.editorToolbar .styleActive {
  @apply bg-[#47cef7];
  @apply rounded-lg;
}
