:root {
  --newsContainerWidth: 90vw;
  --newsContainerHeight: 50vh;
}

.newsContainer {
  background-color: #eadbdb;
  margin-top: 15px;
  z-index: 3;
  overflow: hidden;
}

.newsContainer {
  border: 1px groove black;
  border-radius: 1px;
  max-width: 100rem;
  width: var(--newsContainerWidth);
  height: var(--newsContainerHeight);
}

.sliderImagesContainer .sliderImage {
  display: inline-block;
  object-fit: fill;
  height: var(--newsContainerHeight);

  width: var(--newsContainerWidth);
}

.dotsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: var(--newsContainerWidth);
  position: relative;
  bottom: 5%;
}

.slider-dot {
  width: 7px;
  height: 7px;
  background-color: white;

  border-radius: 10px;

  cursor: pointer;
  margin: 0px;
  display: inline-block;
  transition: opacity 0.5s;
  opacity: 0.5;
  margin-left: 10px;
  z-index: 999;
}

.active-dot {
  transition: opacity 0.5s;
  opacity: 1;
}

.sliderImagesContainer {
  display: flex;
  align-items: left;
  justify-content: left;
  transition: transform 1s;
}
