:root {
  --newsContainerWidth: 100vw;
  --newsContainerHeight: 50vh;
}

.newsContainer {
  background-color: #eadbdb;
  margin: 0px;
  z-index: 3;
  overflow: hidden;
}

.newsContainer {
  border: 1px groove black;
  border-radius: 1px;
  width: var(--newsContainerWidth);
  height: var(--newsContainerHeight);
}

.sliderImagesItem {
  position: relative;
}

.sliderImageContent {
  width: 40vw;
  position: absolute;

  transition: transform 1s;
}

.sliderImageTitle {
  color: #000;

  font-family: Abhaya Libre ExtraBold;
  font-size: 5.5vh;
  font-style: normal;
  font-weight: 800;
  line-height: 80px; /* 148.148% */
}

.sliderImage {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  filter: brightness(80%);
}

.sliderImageDescription {
  color: #fff;
  text-align: justify;
  font-family: Abhaya Libre ExtraBold;
  font-size: 3vh;
  font-style: normal;
  font-weight: 800;
  line-height: 25px; /* 86.207% */
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.btn-slider-image {
  cursor: pointer;
  background-color: black;

  padding: 10px;
  color: #fff;

  font-family: Abhaya Libre ExtraBold;

  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.007px;
  font-size: 2vh;
}

.sliderImagesContainer .sliderImage {
  display: inline-block;
  object-fit: fill;
  height: var(--newsContainerHeight);

  width: var(--newsContainerWidth);
  transition: transform 1s;
}

.dotsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: var(--newsContainerWidth);
  position: relative;
}

.slider-dot {
  width: 7px;
  height: 7px;
  background-color: white;

  border-radius: 10px;

  cursor: pointer;
  margin: 0px;
  display: inline-block;
  transition: opacity 0.5s;
  opacity: 0.5;
  margin-left: 10px;
  z-index: 999;
}

.active-dot {
  transition: opacity 0.5s;
  opacity: 1;
}

.sliderImagesContainer {
  display: flex;
  align-items: left;
  justify-content: left;
  transition: transform 1s;
}
