<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>coHealth</title>
    <link rel="stylesheet" href="../css/body.css" />
    <link rel="stylesheet" href="../css/navigation.css" />
    <link rel="stylesheet" href="../css/languageDropdownMenu.css" />
    <link rel="stylesheet" href="../css/decoration.css" />

    <script type="module" defer src="../js/index.js"></script>
  </head>
  <body>
    <div class="decoration">
      <div class="eclipse-1"></div>
      <div class="eclipse-2"></div>
      <div class="chat-icon">
        <img src="../images/png/chatbot.png" alt="Chat Icon" class="chatIcon" />
      </div>
    </div>

    <div class="navigation">
      <div class="logo">coHealth</div>
      {%NAVIGATION_BAR%} {%LANGUAGE_SELECTION%} {%SIGN_IN_BUTTON%}
      {%REGISTER_BUTTON%}
    </div>
    <div id="findHospital"></div>

    <!--ADD REACT-->
    <script
      src="https://unpkg.com/react@18/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
      crossorigin
    ></script>
    <script src="https://unpkg.com/@babel/standalone@7.11.4/babel.js"></script>

    <script
      type="module"
      src="./../react/src/components/Header/Header.jsx"
    ></script>
    <script
      type="module"
      src="./../react/src/components/List/List.jsx"
    ></script>
    <script type="module" src="./../react/src/components/Map/Map.jsx"></script>
    <script
      type="module"
      src="./../react/src/components/PlaceDetails/PlaceDetails.jsx"
    ></script>
    <script type="module" src="./../react/src/index.js"></script>
    <!-- <script defer src="./../react/build/static/js/main.da7f74d5.js"></script> -->
  </body>
</html>
