<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>coHealth</title>
    <link rel="stylesheet" href="../css/body.css" />
    <link rel="stylesheet" href="../css/navigation.css" />
    <link rel="stylesheet" href="../css/languageDropdownMenu.css" />
    <link rel="stylesheet" href="../css/newsContainer.css" />
    <link rel="stylesheet" href="../css/features.css" />
    <link rel="stylesheet" href="../css/decoration.css" />
    <script type="module" defer src="../js/index.js"></script>
  </head>
  <body>
    <div class="decoration">
      <div class="eclipse-1"></div>
      <div class="eclipse-2"></div>
    </div>
    <div class="border">
      <div class="navigation">
        <div class="logo">coHealth</div>

        <div class="navigation-items">
          <div class="navigation-box">
            <button class="home btn">
              <!-- <div class="homeContent">Home</div> -->
              Home
            </button>
            <button class="aboutUs btn">
              <!-- <div class="aboutUsContent">About Us</div> -->
              About Us
            </button>
            <button class="howToUse btn">
              <!-- <div class="howToUseContent">How to use</div> -->
              How to use
            </button>
          </div>

          <div class="underline-box"><div class="underline"></div></div>
        </div>
        <div class="language" data-language="english">
          <div class="dropdown">
            <button class="language-content btn--language">English</button>
            <div class="dropdown-content">
              <button
                class="language-item btn--language"
                data-language="english"
              >
                English
              </button>
              <button
                class="language-item btn--language"
                data-language="vietnamese"
              >
                Vietnamese
              </button>
            </div>
          </div>

          <svg
            class="arrow down"
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="5"
            viewBox="0 0 10 7"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.289578 1.05318C0.672054 0.709487 1.29217 0.709487 1.67465 1.05318L4.89968 3.9512L8.12471 1.05318C8.50718 0.709487 9.1273 0.709487 9.50977 1.05318C9.89225 1.39687 9.89225 1.95411 9.50977 2.29781L5.59221 5.81814C5.20973 6.16184 4.58962 6.16184 4.20714 5.81814L0.289578 2.29781C-0.0928975 1.95411 -0.0928974 1.39688 0.289578 1.05318Z"
              fill="#9CA3AF"
            />
          </svg>
        </div>
        <div class="sign-in">
          <button class="sign-in-content btn">Sign In</button>
          <div
            style="
              width: 15px;
              border-width: 0.7px;
              border-style: groove;
              border-color: #4461f2;
              border-radius: 5px;
            "
          ></div>
        </div>
        <button class="register btn">
          <p>Register</p>
        </button>
      </div>
      <div class="newsContainer"></div>
      <div class="features">
        <p class="features-title">FEATURES WE PROVIDE</p>
        <div class="features-items">
          <div class="features-item">
            Calculating BMI is easier
            <img
              src="../image/png/heartMedical.png"
              style="margin-left: 25px"
            />
          </div>
          <div class="features-item" style="text-align: right">
            <img src="../image/png/hospital.png" style="float: right" /><br />
            Find nearby hospital
            <div style="clear: right"></div>
          </div>
          <div class="features-item" style="text-align: right">
            <img src="../image/png/chatbot.png" style="float: right" /><br />
            Interactive Chatbot
            <div style="clear: right"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
