<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>coHealth</title>
    <link rel="stylesheet" href="../css/body.css" />
    <link rel="stylesheet" href="../css/navigation.css" />
    <link rel="stylesheet" href="../css/languageDropdownMenu.css" />
    <link rel="stylesheet" href="../css/decoration.css" />
    <link rel="stylesheet" href="../css/newsBox.css" />

    <script type="module" defer src="../js/index.js"></script>
  </head>
  <body>
    <div class="decoration">
      <div class="eclipse-1"></div>
      <div class="eclipse-2"></div>
      <div class="chat-icon">
        <img
          src="../images/png/chat-icon.png"
          alt="Chat Icon"
          style="
            width: 30px;
            height: 30px;
            position: fixed;
            bottom: 20px;
            right: 20px;
            cursor: pointer;
          "
        />
      </div>
    </div>

    <div class="navigation">
      <div class="logo">coHealth</div>

      <div class="navigation-items">
        <div class="navigation-box">
          <button class="home btn nav-item">Home</button>
          <button class="aboutUs btn nav-item">About Us</button>

          <button class="news btn nav-item">News</button>
          <button class="calculateBMI btn nav-item">Calculate BMI</button>
          <button class="findHospital btn nav-item">Find Hospital</button>
        </div>

        <div class="underline-box"><div class="underline"></div></div>
      </div>

      <div class="language" data-language="english">
        <div class="dropdown">
          <button class="language-content btn--language">English</button>
          <div class="dropdown-content">
            <button class="language-item btn--language" data-language="english">
              English
            </button>
            <button
              class="language-item btn--language"
              data-language="vietnamese"
            >
              Vietnamese
            </button>
          </div>
        </div>

        <svg
          class="arrow down"
          xmlns="http://www.w3.org/2000/svg"
          width="8"
          height="5"
          viewBox="0 0 10 7"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0.289578 1.05318C0.672054 0.709487 1.29217 0.709487 1.67465 1.05318L4.89968 3.9512L8.12471 1.05318C8.50718 0.709487 9.1273 0.709487 9.50977 1.05318C9.89225 1.39687 9.89225 1.95411 9.50977 2.29781L5.59221 5.81814C5.20973 6.16184 4.58962 6.16184 4.20714 5.81814L0.289578 2.29781C-0.0928975 1.95411 -0.0928974 1.39688 0.289578 1.05318Z"
            fill="#9CA3AF"
          />
        </svg>
      </div>
      <div class="sign-in">
        <button class="sign-in-content btn">Sign In</button>
        <div
          style="
            width: 15px;
            border-width: 0.7px;
            border-style: groove;
            border-color: #4461f2;
            border-radius: 5px;
          "
        ></div>
      </div>
      <button class="register btn">
        <p>Register</p>
      </button>
    </div>
    <div class="newsBox">
      <div class="newsTitle">Heart Attack</div>
      <div class="firstViewNewsContent">
        <div class="newsImage">
          <img
            src="../images/slider/heart-attack-female.jfif"
            alt="A heart Attack Female"
          />
        </div>
        <div class="newsContent firstContent">
          Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
          Nulla consequat massa quis enim.Donec quam felis, ultricies nec,
          pellentesque eu, pretium quis, sem. Nulla consequat massa quis
          enimNulla consequat massa quis enim.Donec quam felis, ultricies nec,
          pellentesque eu, pretium quis, sem. Nulla consequat massa quis
          enim.Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
          sem. Nulla consequat massa quis enim.Donec quam felis, ultricies nec,
          pellentesque eu, pretium quis, sem. Nulla consequat massa quis
          enim.Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
          sem. Nulla consequat massa quis enim.Donec quam felis, ultricies nec,
          pellentesque eu, pretium quis, sem. Nulla consequat massa quis
          enim.Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
          sem. Nulla consequat massa quis enim.Donec quam felis, ultricies nec,
          pellentesque eu, pretium quis, sem. Nulla consequat massa quis
          enim.Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
          sem. Nulla consequat massa quis enim.Donec quam felis, ultricies nec,
          pellentesque eu, pretium quis, sem. Nulla consequat massa quis
          enim.Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
          sem. Nulla consequat massa quis enim.
        </div>
      </div>

      <div class="newsContent">
        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
        Nulla consequat massa quis enim.Donec quam felis, ultricies nec,
        pellentesque eu, pretium quis, sem. Nulla consequat massa quis enimNulla
        consequat massa quis enim.Donec quam felis, ultricies nec, pellentesque
        eu, pretium quis, sem. Nulla consequat massa quis enim.Donec quam felis,
        ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
        quis enim.Donec quam felis, ultricies nec, pellentesque eu, pretium
        quis, sem. Nulla consequat massa quis enim.Donec quam felis, ultricies
        nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
        enim.Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
        sem. Nulla consequat massa quis enim.Donec quam felis, ultricies nec,
        pellentesque eu, pretium quis, sem. Nulla consequat massa quis
        enim.Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
        sem. Nulla consequat massa quis enim.Donec quam felis, ultricies nec,
        pellentesque eu, pretium quis, sem. Nulla consequat massa quis
        enim.Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
        sem. Nulla consequat massa quis enim.Donec quam felis, ultricies nec,
        pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      </div>
    </div>
  </body>
</html>
