<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>coHealth</title>
    <link rel="stylesheet" href="../css/body.css" />
    <link rel="stylesheet" href="../css/navigation.css" />
    <link rel="stylesheet" href="../css/languageDropdownMenu.css" />
    <link rel="stylesheet" href="../css/features.css" />
    <link rel="stylesheet" href="../css/decoration.css" />
    <link rel="stylesheet" href="../css/userSetting.css" />
    <link rel="stylesheet" href="../css/afterLogin.css" />

    <script type="module" defer src="../src/js/index.js"></script>
  </head>
  <body>
    {%DECORATION%}

    <div class="navigation">
      <div class="logo">coHealth</div>
      {%NAVIGATION_BAR%} {%LANGUAGE_SELECTION%} {%SIGN_IN_BUTTON%}
      {%REGISTER_BUTTON%}
    </div>
    <div class="container">
      <div class="sidebar left-div">
        <div class="titleItem">
          <div class="title">User Settings</div>
        </div>
        <div class="sideItems">
          <a href="./profile" class="profilee sidesideItems">PROFILE</a>
          <a href="./history" class="healtHis sidesideItems">HEALTH HISTORY</a>
          <a href="./account" class="account sidesideItems activee">ACCOUNT</a>
        </div>
      </div>

      <div class="bodyInfo right-div">
        <div class="label">
          <div class="text-wrapper">Reset your password</div>
        </div>
        <div class="lower-line">
          <div class="text-wrapper">
            Click the button below to reset your password
          </div>
        </div>
        <a href="./forgetPassword" class="reset-button box">
          <div class="rectangle">RESET</div>
        </a>
        <div class="label">
          <div class="delete">Delete account</div>
        </div>
        <div class="lower-line">
          <div class="text-wrapper">
            Your personal data will be deleted permanently when you delete your
            account on coHealth. This action is irreversible
          </div>
        </div>
        <button class="reset-button box">
          <div class="deleterec">DELETE</div>
        </button>
      </div>
    </div>
  </body>
</html>
