doctype html 

html 
    header 
        block header
            title coHealth ! #{title}
            link(rel="stylesheet" href="/css/tailwind.css")
            link(rel="short icon" href="/images/Le Con.png")
            script(type='module' src='/src/js/index.js')
            script(src="/socket.io/socket.io.js")


    body 
        // Navbar
        include navbar 

        // Actual body
        block body 

        // Footer
        include footer
