doctype html 

html 
    head 
        block header
            title coHealth ! #{title}
            link(rel="stylesheet" href="/css/tailwind.css")
            link(rel="short icon" href="/images/Le Con.png")
            script(defer, type='module' src="/socket.io/socket.io.js")
            script(defer type='module' src='/src/notificationController.js')
            link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
            link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css')
            script(defer, src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js')
            script(defer, src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
            script(defer, src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js")
            script(defer, src='/src/socketConnect.js')

    body 
        // Navbar
        include navbar 

        // Actual body
        .body.min-h-screen
            block body 

        // Footer
        include footer
