extend base

block append header 
    script(defer src="/src/calculateController.js") 

block body
    .calculateBMIBody.flex.flex-1.items-center.justify-center.my-12.gap-12
        .calculateContent(class='w-2/5')
            .calculateTtile.linearText.font-Fustat.text-4xl.mb-4
                p Check your BMI, TDEE 
                p And get your Personalize Advices
            form.calculateForm(method='POST').flex.flex-col.gap-6
                .flex.w-full.gap-12
                    .age.form_row(class='w-1/3')
                        input(name='age' placeholder='Age' maxLength=3 required).w-full.numberOnly.inputCheck
                    .gender.w-full
                        .w-full.outline-none.border-0.relative.font-AbhayaLibre
                            .genderSelected.select-none.cursor-pointer.flex.flex-1.items-center.justify-between.py-2(class='bg-[#EAF0F7]').px-3.rounded-xl
                                input(type='text' name='gender' required placeholder='Gender' onkeydown="return false" autocomplete='off' style='caret-color: transparent').bg-transparent.select-none.outline-none.cursor-pointer
                                img(src='./../images/png/down-arrow-circle-svgrepo-com.png').w-4.h-4
                            .absolute.w-full.genderOptions.hidden.z-50
                                .w-full(type='button' data-value='' class='bg-[#EAF0F7]').cursor-pointer.genderOption.py-2.px-2.rounded-t-xl.border-b Gender
                                .w-full(type='button' data-value='Male' class='bg-[#EAF0F7]').cursor-pointer.genderOption.py-2.px-2.border-b Male
                                .w-full(type='button' data-value='Female' class='bg-[#EAF0F7]').cursor-pointer.genderOption.py-2.px-2.rounded-b-xl Female
                .flex.w-full.gap-6.justify-between
                    .height.form_row.w-full.relative
                        p.font-AbhayaLibre.absolute.z-30.right-3.absolute(class='-translate-y-1/2 top-1/2') cm
                        input(name='height' placeholder='Height' maxLength=5 required).w-full.relative.numberOnly.inputCheck
                    .weight.form_row.w-full.relative
                        p.font-AbhayaLibre.absolute.z-30.right-3.absolute(class='-translate-y-1/2 top-1/2') kg
                        input(name='weight' placeholder='Weight' maxLength=5 required).w-full.relative.numberOnly.inputCheck
                .calculateMethod.font-AbhayaLibre.flex.flex-1.justify-between.items-center
                    .methodLabel Calculate Method:
                    .methodSelect.relative(class='w-1/2')
                        .methodSelected.select-none.cursor-pointer.flex.flex-1.items-center.justify-between.py-2(class='bg-[#EAF0F7]').px-3.rounded-xl
                            input(type='text' name='method' required placeholder='Method' onkeydown="return false" autocomplete='off' value='Normal TDEE' style='caret-color: transparent').bg-transparent.select-none.outline-none.cursor-pointer
                            img(src='./../images/png/down-arrow-circle-svgrepo-com.png').w-4.h-4
                        .absolute.methodOptions.z-40.w-full.hidden
                            .methodOption(class='bg-[#EAF0F7]' data-value='Normal TDEE').py-2.px-2.rounded-t-xl.border-b.cursor-pointer Normal TDEE
                            .methodOption(class='bg-[#EAF0F7]' data-value='TEE').py-2.px-2.rounded-b-xl.cursor-pointer TEE based on specific activities 
                .activityIntensity.form_row.hidden
                    .w-full.outline-none.border-0.relative.font-AbhayaLibre
                        .activityIntensitySelected.select-none.cursor-pointer.flex.items-center.justify-between.py-2(class='bg-[#EAF0F7]').px-3.rounded-xl
                            input(type='text' name='activityIntensity' placeholder='Activity Intensity' onkeydown="return false" autocomplete='off' style='caret-color: transparent').bg-transparent.select-none.outline-none.cursor-pointer
                            img(src='./../images/png/down-arrow-circle-svgrepo-com.png').w-4.h-4
                        .absolute.w-full.activityIntensityOptions.z-40.hidden
                            .w-full(type='button' data-value='' class='bg-[#EAF0F7]').cursor-pointer.activityIntensityOption.py-2.px-2.rounded-t-xl.border-b Activity Intensity
                            .w-full(type='button' data-value='Sedentary' class='bg-[#EAF0F7]').cursor-pointer.activityIntensityOption.py-2.px-2.border-b Sedentary: little or no exercise
                            .w-full(type='button' data-value='Lightly Active' class='bg-[#EAF0F7]').cursor-pointer.activityIntensityOption.py-2.px-2.border-b Lightly Active: exercise 1-3 times/week
                            .w-full(type='button' data-value='Moderately Active' class='bg-[#EAF0F7]').cursor-pointer.activityIntensityOption.py-2.px-2.border-b Moderately Active: exercise 4-5 times/week
                            .w-full(type='button' data-value='Very Active' class='bg-[#EAF0F7]').cursor-pointer.activityIntensityOption.py-2.px-2.border-b Very Active: intense exercise 6-7 times/week
                            .w-full(type='button' data-value='Extra Active' class='bg-[#EAF0F7]').cursor-pointer.activityIntensityOption.py-2.px-2.rounded-b-xl Extra Active: very intense exercise daily, or physical job
                .activities.form_row.hidden.flex.flex-col.items-center.font-AbhayaLibre
                    button(type='button').addActivityButton.cursor-pointer Add activity
                    .errorActivities.text-red-400
 
                .target.form_row 
                    .w-full.outline-none.border-0.relative.font-AbhayaLibre
                        .targetSelected.select-none.cursor-pointer.flex.flex-1.items-center.justify-between.py-2(class='bg-[#EAF0F7]').px-3.rounded-xl
                            input(type='text' name='target' required placeholder='Target' onkeydown="return false" autocomplete='off' style='caret-color: transparent').bg-transparent.select-none.outline-none.cursor-pointer
                            img(src='./../images/png/down-arrow-circle-svgrepo-com.png').w-4.h-4
                        .absolute.w-full.targetOptions.z-50.hidden
                            .w-full(type='button' data-value='' class='bg-[#EAF0F7]').cursor-pointer.targetOption.py-2.px-2.rounded-t-xl.border-b Target
                            .w-full(type='button' data-value='Gain' class='bg-[#EAF0F7]').cursor-pointer.targetOption.py-2.px-2.border-b Gain Weight
                            .w-full(type='button' data-value='Maintain' class='bg-[#EAF0F7]').cursor-pointer.targetOption.py-2.px-2.border-b Maintain Weight
                            .w-full(type='button' data-value='Lose' class='bg-[#EAF0F7]').cursor-pointer.targetOption.py-2.px-2.rounded-b-xl Lose Weight
                .speed.form_row.hidden 
                    .w-full.outline-none.border-0.relative.font-AbhayaLibre
                        .speedSelected.select-none.cursor-pointer.flex.flex-1.items-center.justify-between.py-2(class='bg-[#EAF0F7]').px-3.rounded-xl
                            input(type='text' name='speed' required disabled placeholder='Speed' onkeydown="return false" autocomplete='off' style='caret-color: transparent').bg-transparent.select-none.outline-none.cursor-pointer
                            img(src='./../images/png/down-arrow-circle-svgrepo-com.png').w-4.h-4
                        .absolute.w-full.speedOptions.z-50.hidden
                            .w-full(type='button' data-value='' class='bg-[#EAF0F7]').cursor-pointer.speedOption.py-2.px-2.rounded-t-xl.border-b Speed
                            .w-full(type='button' data-value='Slow' class='bg-[#EAF0F7]').cursor-pointer.speedOption.py-2.px-2.border-b Slow
                            .w-full(type='button' data-value='Normal' class='bg-[#EAF0F7]').cursor-pointer.speedOption.py-2.px-2.border-b Normal
                            .w-full(type='button' data-value='Fast' class='bg-[#EAF0F7]').cursor-pointer.speedOption.py-2.px-2.rounded-b-xl Fast
                .targetWeight.w-full.font-AbhayaLibre.relative.hidden
                    .form_row.relative
                        p.font-AbhayaLibre.absolute.z-30.right-3(class='-translate-y-1/2 top-1/2') kg
                        input(name='targetWeight' placeholder='Target Weight' maxLength=5 required disabled).w-full.relative.numberOnly.inputCheck
                    .errorTarget.text-red-400
                button(type='submit').linearBackground.text-white.font-AbhayaLibre.py-2.text-xl.rounded-xl.font-bold.tracking-widest.cursor-pointer Calculate
        .calculateImage 
            img(src="./../images/png/eating-donuts.png", alt="Eating Donut Picture")          