<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="../css/confirmPassword.css" />
    </head>

    <body>
        <div class="navicon">
            <a href="">coHealth</a>
        </div>

        <div class="wrapper">
            <form action = "">
                <h1>Confirm your password</h1>
                <div class="input-box">
                    <input type="password" placeholder="New Password" required>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Confirm Password" required>
                </div>
                <button type="submit" class="btn">Confirm</button>
            </form>
        </div>
    </body>
</html>