footer.footer(class='bg-[#515bf0c9]').text-white.py-8
    .mx-auto(class='w-4/5').grid.grid-cols-3
        .footer__aboutUs
            p.font-extrabold.font-Roca.text-2xl About Us
            .font-DM-Sans.my-6
                p.my-2 Members 
                p.my-2 Missions 
                p.my-2 History and Future
        .footer__faqs
            p.font-extrabold.font-Roca.text-2xl FAQs
            .font-DM-Sans.my-6
                p.my-2 How to use the website
        .footer__contactUs
            p.font-extrabold.font-Roca.text-2xl Contact Us
            .font-DM-Sans.my-6
                .address.flex.flex-1.gap-4.my-2
                    img.w-6(src="./../images/png/location-pin-svgrepo-com.png", alt="location icon")
                    span 268 Ly Thuong Kiet          

                .email.my-2.flex.flex-1.gap-4.my-2
                    img.w-6(src="./../images/png/email-svgrepo-com.png", alt="Email icon")
                    span chanh.leminh@hcmut.edu.vn

                .phoneNumber.my-2.flex.flex-1.gap-4.my-2
                    img.w-6(src="./../images/png/phone-svgrepo-com.png", alt="Phone icon")
                    span 0835599955
