<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="../css/forgetPassword.css" />
        <script type="module" defer src="../js/index.js"></script>
    </head>

    <body>
        <div class="navicon">
            <a href="">coHealth</a>
        </div>
        
        <div class="wrapper">
            <form class="forgetPasswordMethod" method="post" action="/users/forgetPassword">
                <h1>Reset Password</h1>
                <h6>Please contact <span class = "email">customer.help@coHealth.com</span>, provide information about your email, your new password, and your current height, weight in order to reset your password. Please try again after 1 hour.</h6>
            </form>
        </div>
    </body>
</html>