extend base

block append header 
    script(defer, type='module' src="./../src/forgotPasswordController.js") 

block body 
    .flex.flex-col.items-center.py-24.gap-6
        .forgotPassword.linearText.font-bold.text-4xl.font-Roca Forgot Password?
        .font-DM-Sans(class='text-[#384FC0]').text-center 
            | Please enter your email address below. You will then receive an email attached with a link to reset your password. <br/>
            | If you do not receive the email after 10 minutes, please contact us via #[strong customer.help@coHealth.com]
        form(class='w-1/4').forgotPasswordForm.flex.flex-col.items-center.gap-6
            .email.flex.flex-col.gap-2.w-full
                label.linearText(for='email').mx-4.font-DM-Sans.font-semibold E-mail
                .relative
                    input.w-full#email(type='email' name='forgotEmail' placeholder='Signed in e-mail' required class='bg-[#EAF0F7]').rounded-lg.px-4.py-2.inputCheck
                    img.w-4.absolute.right-3(src="./../images/png/close-circle-svgrepo-com.png" alt="Close icon" class='top-1/2 -translate-y-1/2').cursor-pointer.deleteValue
            button.w-full.linearBackground.text-white.font-DM-Sans.font-bold.py-2.rounded-xl.cursor-pointer(type='submit' value='submit' class="tracking-[0.25rem]") Send me the email