<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>coHealth</title>
        <link rel="stylesheet" href="../css/body.css" />
        <link rel="stylesheet" href="../css/navigation.css" />
        <link rel="stylesheet" href="../css/languageDropdownMenu.css" />
        <link rel="stylesheet" href="../css/features.css" />
        <link rel="stylesheet" href="../css/decoration.css" />
        <link rel="stylesheet" href="../css/healthHistory.css" />

        <script type="module" defer src="../src/js/index.js"></script>
    </head>
    <body>
        {%DECORATION%}
        
        <div class="navigation">
            <div class="logo">coHealth</div>
            {%NAVIGATION_BAR%} {%LANGUAGE_SELECTION%} {%SIGN_IN_BUTTON%}
            {%REGISTER_BUTTON%}
        </div>

        <div class="container">
            <div class="sidebar left-div">
                <div class="titleItem">
                    <div class="title">
                        User Settings
                    </div>
                </div>
                <div class="sideItems">
                    <a href="./profile" class="profilee sidesideItems ">PROFILE</a>
                    <a href="./history" class="healtHis sidesideItems activee">HEALTH HISTORY</a>
                    <a href="./account" class="account sidesideItems">ACCOUNT</a>
                </div> 
            </div>
    
            <div class="healthHis right-div">
              <div class="navibar">
                <div class="basicInfo">
                    Basic Info
                </div>
                <button class="btnn">PRINT</button>
                <li class="list-new">
                    <a href="" style="margin-left: 0.5vw;">15/10/2023 - 22/10/2023</a>
                    <div class="dropdownn">
                        <a href="">15/10/2023 - 22/10/2023</a>
                        <a href="">15/10/2023 - 22/10/2023</a>
                        <a href="">15/10/2023 - 22/10/2023</a>
                        <a href="">15/10/2023 - 22/10/2023</a>
                    </div>
                </li>
              </div> 
            <!-- First bar-->
            <div class="status_bar">
                <div class="boxInfoAll">
                    <div class="weekInfo">
                        <div class="timeLength">22-10-2003</div>
                        <div class="infoSection">
                            <div class="infoBox">
                                <h6 class="boxName">Weight (kg)</h6>
                                <div class="boxItems">69</div>
                            </div>
                            <div class="infoBox">
                                <h6 class="boxName">Height (cm)</h6>
                                <div class="boxItems">169</div>
                            </div>
                            <div class="infoBox">
                                <h6 class="boxName">BMI</h6>
                                <div class="boxItems">11.7</div>
                            </div>
                            <div class="infoBox">
                                <h6 class="boxName">Calories Intake/Day</h6>
                                <div class="boxItems">2069</div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <!-- Second bar-->
            <div class="status_bar">
                <div class="boxInfoAll">
                    <div class="weekInfo">
                        <div class="timeLength">21-10-2003</div>
                        <div class="infoSection">
                            <div class="infoBox">
                                <h6 class="boxName">Weight (kg)</h6>
                                <div class="boxItems">69</div>
                            </div>
                            <div class="infoBox">
                                <h6 class="boxName">Height (cm)</h6>
                                <div class="boxItems">169</div>
                            </div>
                            <div class="infoBox">
                                <h6 class="boxName">BMI</h6>
                                <div class="boxItems">11.7</div>
                            </div>
                            <div class="infoBox">
                                <h6 class="boxName">Calories Intake/Day</h6>
                                <div class="boxItems">2069</div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <!-- Third bar-->
            <div class="status_bar">
                <div class="boxInfoAll">
                    <div class="weekInfo">
                        <div class="timeLength">20-10-2003</div>
                        <div class="infoSection">
                            <div class="infoBox">
                                <h6 class="boxName">Weight (kg)</h6>
                                <div class="boxItems">69</div>
                            </div>
                            <div class="infoBox">
                                <h6 class="boxName">Height (cm)</h6>
                                <div class="boxItems">169</div>
                            </div>
                            <div class="infoBox">
                                <h6 class="boxName">BMI</h6>
                                <div class="boxItems">11.7</div>
                            </div>
                            <div class="infoBox">
                                <h6 class="boxName">Calories Intake/Day</h6>
                                <div class="boxItems">2069</div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <!-- Fourth bar-->
            <div class="status_bar">
                <div class="boxInfoAll">
                    <div class="weekInfo">
                        <div class="timeLength">19-10-2003</div>
                        <div class="infoSection">
                            <div class="infoBox">
                                <h6 class="boxName">Weight (kg)</h6>
                                <div class="boxItems">69</div>
                            </div>
                            <div class="infoBox">
                                <h6 class="boxName">Height (cm)</h6>
                                <div class="boxItems">169</div>
                            </div>
                            <div class="infoBox">
                                <h6 class="boxName">BMI</h6>
                                <div class="boxItems">11.7</div>
                            </div>
                            <div class="infoBox">
                                <h6 class="boxName">Calories Intake/Day</h6>
                                <div class="boxItems">2069</div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <!-- Fifth bar-->
            <div class="status_bar">
                <div class="boxInfoAll">
                    <div class="weekInfo">
                        <div class="timeLength">18-10-2003</div>
                        <div class="infoSection">
                            <div class="infoBox">
                                <h6 class="boxName">Weight (kg)</h6>
                                <div class="boxItems">69</div>
                            </div>
                            <div class="infoBox">
                                <h6 class="boxName">Height (cm)</h6>
                                <div class="boxItems">169</div>
                            </div>
                            <div class="infoBox">
                                <h6 class="boxName">BMI</h6>
                                <div class="boxItems">11.7</div>
                            </div>
                            <div class="infoBox">
                                <h6 class="boxName">Calories Intake/Day</h6>
                                <div class="boxItems">2069</div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>


            

        </div>
    </body>
</html>