block append header 
    script(defer, type='module' src="/src/navbarController.js") 
    style.
        .haveRead{
            opacity: 50%;
        }

block navbar    
    .navigation.flex.flex-1.justify-evenly.items-center(class='h-[30%]border-[#4461f2]').stroke-1.py-4
        // Website logo
        a.logo.font-bold.font-ABeeZee.text-6xl.linearText(href='/') coHealth
    
        // Website Navigation Bar
        .navigation-items 
            .navigation-box.flex.flex-1.justify-center.items-center
                button.home.btn.nav-items
                    a(href='/home').nav_links.a_links Home

                button.aboutUs.btn.nav-items 
                    a(href='/aboutUs').nav_links.a_links About Us

                button.news.btn.nav-items 
                    a(href='/news').nav_links.a_links News

                div.tools.btn.nav-items 
                    .nav_links.a_links Tools
                    include toolbars
                
                if user && user.role == 'doctor'
                    button.news.btn.nav-items 
                        a(href='/upload').nav_links.a_links Upload
                    

        if !user
            button.auth.btn.nav-items 
                a(href='/signIn').nav_links.a_links Sign in/Sign up
        else
            .afterSignIn.flex.items-center.gap-4.userButton(data-id=user._id)
                .notifications.relative 
                    button.notification.btn.notificationButton.cursor-pointer
                        .notiDisplay.h-full.mx-4.relative
                            .hasNoti.absolute.rounded-2xl.bg-red-500.h-1.w-1.hidden(class="right-2 top-2")
                            img(src='/../images/png/notification-bell-svgrepo-com.png' alt='Notification').w-6
                    .notificationsContainer.text-soft-black.absolute.right-0.shadow-xl.rounded-xl.w-72.pointer-events-none.opacity-0.duration-100(class='bg-[#FFFBF3]')
                        p.font-Montserrat.font-semibold.py-2.px-4 Thông báo
                        hr.w-full(class='border-[#B0B0B0]')
                        .py-2.px-2.font-Inter.font-semibold.notificationsBox
                a(href='/profile').a_links
                    button.relative.btn
                        img.w-12.rounded-full.absolute.left-0(src=`/../images/users/profile/${user.image}` class='top-1/2 -translate-y-1/2' alt=`${user.slug}-profile's-icon`).bg-white
                        .text-white.font-Inter.py-3.px-8.ml-6.font-bold.rounded-lg(class='bg-[#6E67F4]') #{user.fullname}