block navbar    
    .navigation.flex.flex-1.justify-evenly.items-center.border-b(class='h-[30%]border-[#4461f2]').stroke-1.py-4
        // Website logo
        .logo.font-bold.font-ABeeZee.text-6xl.bg-clip-text.bg-gradient-to-r.text-transparent(class='from-[#3a8ef6] to-[#6f3afa]') coHealth
    
        // Website Navigation Bar
        .navigation-items 
            .navigation-box.flex.flex-1.justify-center.items-center
                button.home.btn.nav-items
                    a(href='/home').nav_links.a_links Home

                button.aboutUs.btn.nav-items 
                    a(href='/aboutUs').nav_links.a_links About Us

                button.news.btn.nav-items 
                    a(href='/news').nav_links.a_links News

                div.tools.btn.nav-items 
                    .nav_links.a_links Tools
                    
                    include toolbars

        if !user
            button.auth.btn.nav-items 
                a(href='/signIn').nav_links.a_links Sign in/Sign up
        else
            .afterSignIn.flex.items-center.gap-4
                button.notification.btn 
                    img(src='./../images/png/notification-bell-svgrepo-com.png' alt='Notification').w-6
                button.relative.btn
                    img.w-12.rounded-full.absolute.left-0(src=`./../images/users/profile/${user.image}` class='top-1/2 -translate-y-1/2' alt=`${user.slug}-profile's-icon`)
                    a(href='/account' class='bg-[#6E67F4]').a_links.text-white.font-Inter.py-3.px-8.ml-6.font-bold.rounded-lg #{user.fullname}