<div class="navigation-items">
  <div class="navigation-box">
    <button class="home btn nav-item">
      <a href="/home" class="nav_links a_links">Home</a>

      <div class="underline-box hidden"><div class="underline"></div></div>
    </button>
    <button class="aboutUs btn nav-item">
      <a href="/aboutUs" class="nav_links a_links">About Us</a>
      <div class="underline-box hidden"><div class="underline"></div></div>
    </button>

    <button class="news btn nav-item">
      <a href="/news" class="nav_links a_links">News</a>
      <div class="underline-box hidden"><div class="underline"></div></div>
    </button>
    <button class="calculateBMI btn nav-item">
      <a href="/calculateBMI" class="nav_links a_links">Calculate BMI</a>
      <div class="underline-box hidden"><div class="underline"></div></div>
    </button>
    <button class="findHospital btn nav-item">
      <a href="/findHospital" class="nav_links a_links">Find Hospital</a>
      <div class="underline-box hidden"><div class="underline"></div></div>
    </button>
  </div>
</div>
