extend base

block append header
    script(defer type="module", src="/src/resetPasswordController.js") 

block body 
    .flex.flex-col.items-center.py-24.gap-6
        .resetPassword.linearText.font-bold.text-4xl.font-Roca Reset your password
        form.font-DM-Sans.flex.flex-col.gap-8.resetPasswordForm(class='w-1/2')
            .password.flex.flex-1.gap-4.w-full.items-center
                label.font-bold.block.text-darker-red.text-lg.w-64(for="password" class='text-[#3A8EF6]') New password
                input#password.bg-dark-yellow.px-4.py-2.rounded-xl.border.border-black.w-full.text-black.text-xl.w-full(type="password" placeholder="Your new password..." name="password")
            .confirmPassword.flex.flex-1.gap-4.w-full.items-center
                label.font-bold.block.text-darker-red.text-lg.w-64(for="confirmPassword" class='text-[#3A8EF6]') Confirm Password
                input#confirmPassword.bg-dark-yellow.px-4.py-2.rounded-xl.border.border-black.w-full.text-black.text-xl.w-full(type="password" placeholder="Confirm your passsword..." name="confirmPassword")
            .submit.text-center.text-dark-red(class='w-1/2').mx-auto
                input.border.border-dark-red.linearBackground.text-white.cursor-pointer.px-3.rounded-2xl.text-xl.transition.duration-300.w-full.py-2(type="submit" value="Reset password")