<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>coHealth</title>
    <link rel="stylesheet" href="../css/body.css" />
    <link rel="stylesheet" href="../css/navigation.css" />
    <link rel="stylesheet" href="../css/languageDropdownMenu.css" />
    <link rel="stylesheet" href="../css/features.css" />
    <link rel="stylesheet" href="../css/decoration.css" />
    <link rel="stylesheet" href="../css/aboutUs.css" />
    <link rel="stylesheet" href="../css/signUp.css" />

    <script type="module" defer src="../src/js/index.js"></script>
  </head>
  <body class="body">
    {%DECORATION%}

    <div class="navigation">
      <div class="logo">coHealth</div>
      {%NAVIGATION_BAR%} {%LANGUAGE_SELECTION%} {%SIGN_IN_BUTTON%}
      {%REGISTER_BUTTON%}
    </div>

    <div class="signupBody">
      <div class="signupTitle">
        <div class="signupTitle--1">Sign Up to join us&nbsp;</div>
      </div>

      <div class="signupSubTitle">
        <p class="signupSubTitle--1">
          <span class="text-wrapper"
            >If you already have an account<br />you can
          </span>
          <span class="span"><a href="/login">Login here!</a></span>
        </p>
      </div>

      <div class="Image">
        <img class="lifesavers-bust" src="../images/png/lifesavers-bust.png" />
      </div>

      <div class="signupContent">
        <div class="formTitle">
          <div class="formTitle--1">Be healthy with us&nbsp;</div>
        </div>

        <div class="Form">
          <form
            class="signupForm"
            method="post"
            action="/users/signUp"
            id="signupForm"
          >
            <div class="form_row formFirstName">
              <input
                type="text"
                name="firstName"
                class="form_input"
                placeholder="First name"
                required
              />
            </div>

            <div class="form_row formLastName">
              <input
                type="text"
                name="lastName"
                class="form_input"
                placeholder="Last name"
                required
              />
            </div>

            <div class="form_row formEmail">
              <input
                type="email"
                name="email"
                class="form_input"
                placeholder="Enter Email"
                required
              />
            </div>

            <div class="form_row formGender">
              <input type="date" name="birthdate" class="form_input"  required/>

            </div>

            <div class="form_row formGender">
              <select name="gender" class="form_input" required>
                <option value="Gender" disabled selected>Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>

            <div class="form_row formPassword">
              <input
                type="password"
                name="password"
                class="form_input"
                placeholder="Enter your password"
                required
              />
            </div>

            <div class="form_row formPassword">
              <input
                type="password"
                name="confirmPassword"
                class="form_input"
                placeholder="Confirm your password"
                required
              />
            </div>

            <button type="submit" class="formSubmit">Register</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
