.toolbarContainer.absolute.shadow-2xl.bg-white.z-50.px-2.unshown.transition-opacity
    div.toolItem
        a.a_links(href='/calculate') Calculate BMI/TDEE  
    div.toolItem
        a.a_links(href='/findHospital') Find Hospital 
    div.toolItem 
        a.a_links(href='/doctor') Chat With Doctor
    div.toolItem 
        a.a_links(href='/appointment') Make Appointment 
    div.toolItem 
        a.a_links(href='/symptomChecker') Symptom Checker