.body.flex.flex-1.justify-evenly.my-8
    include userSettings 

    .border.rounded-xl.h-full(class='w-3/4').p-6
        block user
            p.font-bold.text-xl.mb-4 #{userProfileTitle} 
            

